*.iml
.idea/
*.iws
app/build/
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.idea/migrations.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/runConfigurations.xml
.idea/deploymentTargetSelector.xml
.DS_Store
Thumbs.db
/build
/captures
.externalNativeBuild
.cxx
local.properties